.header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99999;
  flex-direction: column;
  border-bottom: 1px solid rgb(216, 213, 213);
  justify-content: center;

  /*Ipad ngang(1024 x 768)*/
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 3rem;
    border-bottom: 1px solid rgb(216, 213, 213);
  }

  &__logo {
    width: 5rem;
    height: 7rem;
    img {
      margin: 0.5rem 0 0rem 1rem;
      width: 80%;
      height: 80%;
    }

    @media screen and (min-width: 480px) {
      img {
        margin: 0.5rem 0 0rem 2rem;
        width: 80%;
        height: 80%;
      }
    }
    /*Ipad ngang(1024 x 768)*/
    @media screen and (min-width: 1024px) {
      width: 10rem;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    order: 3;
    justify-content: center;
    height: 2rem;

    /*Tablet nhỏ(480 x 640)*/
    @media screen and (min-width: 480px) {
      justify-content: space-around;
      height: 2rem;
    }
    /*Ipad dọc(768 x 1024)*/
    @media screen and (min-width: 768px) {
      li {
        font-size: 1.2rem;
      }
    }
    /*Ipad ngang(1024 x 768)*/
    @media screen and (min-width: 1024px) {
      order: 0;
      align-items: center;
      li {
        font-size: 1.4rem;
      }
    }

    &--item {
      text-transform: uppercase;
      margin-right: 2rem;
      font-size: 1rem;
      font-weight: bold;
      color: gray;
      cursor: pointer;

      @media screen and (min-width: 1024px) {
        &:not(:last-child) {
          margin-right: 4rem;
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
    position: fixed;
    top: 1.5rem;
    right: 2rem;

    /*Tablet nhỏ(480 x 640)*/
    @media screen and (min-width: 480px) {
      font-size: 1.2rem;
    }
    /*Ipad dọc(768 x 1024)*/
    @media screen and (min-width: 768px) {
      span {
        font-size: 1.2rem;
      }
    }
    /*Ipad ngang(1024 x 768)*/
    @media screen and (min-width: 1024px) {
      position: unset;
      span {
        font-size: 1.4rem;
      }
      margin-right: 2rem;
    }

    &--image {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }
    &--icon {
      transform: translateY(0.2rem);
    }
  }
}
