.header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99999;

  /*Iphone(480 x 640)*/
  @media screen and (min-width: 320px) {
    flex-direction: column;
    border-bottom: 1px solid rgb(216, 213, 213);
  }
  /*Ipad ngang(1024 x 768)*/
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 3rem;
    border-bottom: 1px solid rgb(216, 213, 213);
  }

  &_logo {
    /*Iphone(480 x 640)*/
    @media screen and (min-width: 320px) {
      width: 100%;
      height: 5rem;
    }
    /*Tablet nhỏ(480 x 640)*/
    @media screen and (min-width: 480px) {
    }
    /*Ipad dọc(768 x 1024)*/
    @media screen and (min-width: 768px) {
      height: 5.5rem;
    }
    /*Ipad ngang(1024 x 768)*/
    @media screen and (min-width: 1024px) {
      width: 10rem;
    }
  }

  &_menu {
    list-style: none;
    display: flex;

    /*Iphone(480 x 640)*/
    @media screen and (min-width: 320px) {
      order: 3;
      justify-content: center;
      height: 3rem;
    }
    /*Tablet nhỏ(480 x 640)*/
    @media screen and (min-width: 480px) {
      justify-content: space-around;
      height: 3rem;
    }
    /*Ipad dọc(768 x 1024)*/
    @media screen and (min-width: 768px) {
      li {
        font-size: 1.2rem;
      }
    }
    /*Ipad ngang(1024 x 768)*/
    @media screen and (min-width: 1024px) {
      order: 0;
      align-items: center;
      li {
        font-size: 1.4rem;
      }
    }

    &_item {
      text-transform: uppercase;
      margin-right: 2rem;
      font-size: 1rem;
      font-weight: bold;
      color: gray;
      cursor: pointer;

      @media screen and (min-width: 1024px) {
        &:not(:last-child) {
          margin-right: 4rem;
        }
      }
    }
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: center;
    /*Iphone(480 x 640)*/
    @media screen and (min-width: 320px) {
      order: 2;
      position: fixed;
      top: 1.5rem;
      right: 2rem;
    }
    /*Tablet nhỏ(480 x 640)*/
    @media screen and (min-width: 480px) {
    }
    /*Ipad dọc(768 x 1024)*/
    @media screen and (min-width: 768px) {
      span {
        font-size: 1.2rem;
      }
    }
    /*Ipad ngang(1024 x 768)*/
    @media screen and (min-width: 1024px) {
      position: unset;
      span {
        font-size: 1.4rem;
      }
    }

    &-name {
      margin-right: 1rem;
    }
    &-icon {
      transform: translateY(0.2rem);
    }
  }
}
