.donation {
  padding: 1rem;
  overflow-x: hidden;

  @media screen and (min-width: 1024px) {
    .headingContainer {
      h2 {
        font-size: 1.6rem;
        margin-left: 5rem;
      }
    }
  }

  &__board {
    width: 90%;
    border: 1px solid gray;
    height: 10rem;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    &--title {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }

    &--price {
      color: blue;
      font-weight: bold;
    }
  }
}
