.leftContent {
  padding: 1rem;

  /*Ipad dọc(768 x 1024)*/
  @media screen and (min-width: 768px) {
    width: 165%;
    margin: 1rem 3rem;
  }
  /*Ipad ngang(1024 x 768)*/
  @media screen and (min-width: 1024px) {
    margin: 2rem 6rem;
    flex-direction: row;
  }

  &__title {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  &__des {
    font-size: 1.4rem;
    line-height: 2rem;
    color: gray;
  }
  &__subTitle {
    margin: 1.5rem 0 1rem 0;
    color: rgb(102, 100, 100);
  }
  &__cards {
    display: flex;
  }
}
